<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurants</title>
</head>
<body>
    <header>
        <a href="{{url_for('showRestaurants')}}">HOME</a>
        <h2>Delete restaurant</h2>
    </header>
    <main>
        <form action="" method="POST">
            <p>Name: <b style="font-size: 1.5em;">{{restaurant.name}}</b></p>
            <input type="submit" value="DELETE">
        </form>
    </main>
    <footer>

    </footer>
</body>
</html>