<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Menu</title>
</head>
<body>
    <div>
        <a href="{{url_for('restaurantMenu', restaurantID = restaurant.id)}}">BACK</a>
        <h2>Delete Menu Item For {{restaurant.name}}</h2>
        <p>Item: {{item.name}}, {{item.price}}</p>
        <p>Description: {{item.description}}</p>
    </div>
    <div>
        <form action="" method="POST">
            Name: <input type="text" name="name" value={{item.name}} readonly>
            Price $:<input type="text" name="price" value={{item.price}} readonly>
            Description: 
            <textarea 
                name="description" 
                id="" 
                cols="40" 
                rows="5"
                readonly
                >
                {{item.description}}</textarea>
            <br>
            <input type="submit" value="DELETE">
        </form>
    </div>
</body>
</html>