<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurants</title>
</head>
<body>
    <header>
        <a href="{{url_for('showRestaurants')}}">HOME</a>
        <h2>Edit restaurant</h2>
    </header>
    <main>
        <div>
            <h4>
                Name: <b>{{restaurant.name}}</b>
            </h4>
        </div>
        <div>
            <form action="" method="POST">
                Name: <input type="text" name="name" placeholder="New Name">
                <br>
                <input type="submit" value="SUBMIT">
                <input type="reset" value="CANCEL">
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>