<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Create New Menu Item</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div>
        <h3>{{restaurant.name}}</h3>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li><b><i>{{message}}</i></b></li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <a href="{{url_for('newMenuItem', restaurantID = restaurant.id)}}">ADD ITEM</a>
        <ul>
            {% for item in menuItems %}
            <li>ID: {{item.id}} , Item: {{item.name}} , Price: {{item.price}} 
                <a href="{{url_for('editMenuItem', restaurantID = restaurant.id, menu_id = item.id) }}">EDIT</a>
                <a href="{{url_for('deleteMenuItem', restaurantID = restaurant.id, menu_id = item.id)}}">DELETE</a>
                <p>{{item.description}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>