<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant Menu</title>
</head>
<body>
    <a href="{{url_for('restaurantMenu', restaurantID = restaurant.id)}}">BACK</a>
    <h2>Create new menu item</h2>
    <form action="" method="POST">
        Name: <input type="text" name="name" placeholder="Item Name" required="true">
        Price: <input type="text" name="price" placeholder="Price, $" required="true">
        Description: <input type="text" name="description" placeholder="description" >
        <input type="submit" value="SUBMIT">
        <input type="reset" value="CANCEL" >
    </form>
</body>
</html>