<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Restaurant App</title>
</head>
<body>
    <header>
        <div>
            <h2>List of Restaurants</h2>
            <a href="{{url_for('newRestaurant')}}">ADD RESTAURANT</a>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li><b><i>{{message}}</i></b></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </div>
    </header>
    <main>
        <ul>
            {% for r in restaurants %}
                <li>
                    <div class="restaurant-name">
                        <h2>{{r.name}}</h2>
                        <a href="{{url_for('restaurantMenu', restaurantID = r.id)}}">MENU</a>
                        <a href="{{url_for('editRestaurant', restaurantID = r.id)}}">EDIT</a>
                        <a href="{{url_for('deleteRestaurant', restaurantID = r.id)}}">DELETE</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </main>
    <footer>

    </footer>
</body>
</html>